# BE
BE/.venv/
BE/__pycache__/
BE/**/__pycache__/
BE/.env
#BE/data/food_nutrition.csv
#BE/data/food_raw.csv
BE/data/food_processed.csv
#BE/data/food_dishes.csv
#BE/data/food_index.pkl
BE/data/food_index.pkl.tmp

# FE
FE/node_modules/
FE/dist/
FE/.env
FE/tsconfig.tsbuildinfo
